:root {
    --dark-bg-color: #1F2937;
    --header-logo: #F9FAF8;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --button-color: #3882F6;
    --information-header-text-color: #1F2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}
