@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Lilita+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-bg-color: #1F2937;
    --header-logo: #F9FAF8;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --button-color: #3882F6;
    --information-header-text-color: #1F2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: var(--dark-bg-color);
    color: var(--main-text-color);
    padding: 10px 0;
}

.navigation {
    display: flex;
    align-items: center;
    width: 960px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.links > ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 300;
}

/* hero section */

.hero {
    background-color: var(--dark-bg-color);
    color: var(--main-text-color);
    padding: 100px 0;
}

.hero-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    gap: 50px;
}

.hero-content-1 {
    flex: 1;
}

.hero-content-1 > h2 {
    font-size: 48px;
    color: var(--main-text-color);
    margin: 0;
}

.hero-content-1 > p {
    margin-top: 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--secondary-text-color);
}

.hero-content-2 {
    flex: 1;
    align-content: center;
    text-align: center;
    background-color: #6C747D;
    font-size: 18px;
    font-weight: 300;
    color: var(--secondary-text-color);
}

.hero-content-1 > button {
    background-color: var(--button-color);
    color: var(--main-text-color);
    padding: 5px 30px;
    border: 0px;
    border-radius: 7px;
    font-size: 18px;
}

/* info section */

.info-container {
    width: 960px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 100px;
}

.information > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding: 40px 0;
}

.info-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info-box {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-box > .text {
    font-weight: 300;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid;
    border-color: var(--button-color);
    border-radius: 10px;
}

/* quote section */

.quote {
    background-color:  var(--quote-section-bg-color);
}

.quote-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
}

.quote-text {
    max-width: 75%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-from {
    align-self: flex-end;
    margin-right: 125px;
    font-size: 25px;
}

/* call to action */

.cta-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 40px 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}

.cta-container > div > p {
    font-size: 18px;
    font-weight: 200;
}

.cta-container > button {
    margin-left: auto;
    border: 1px solid white;
    background-color: #3882F6;
    color: white;
    padding: 5px 30px;
    border-radius: 7px;
    font-size: 18px;
    align-self: center;
}

/* footer */

.footer {
    background-color: var(--dark-bg-color);
    color: white;
    text-align: center;
    padding: 40px 0;
}

.footer > h3 {
    font-weight: 200;
}